.grid {
    padding: 0;
    width: 100%;
    display: block;
}

body {
    margin: 0;
}

.grid.wide {
    margin: 0 auto;
    max-width: 1200px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.container {
    background-color: #ffaa;
    text-align: center;
}

.heading {
    padding: 100px 0;
    font-size: 100px;
}

@media (min-width: 740px) {
    .row{
        margin-left: -8px;
        margin-right: -8px;
    }
}

@media (min-width: 1113px){
    .row{
        margin-left: -12px;
        margin-right: -12px;
    }
}

/*  > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }

    .wide.row{
        margin-left: -12px;
        margin-right: -12px;
    }
}

/* for Tablet => PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}